* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  /*sets font size to size 14*/
  font-weight: 300;
  line-height: 1.6;
  color: #FEE3E0;
}

/*Colors Used
  Color 1: rgba(251,186,178)
  Color 2: rgba(241.156,121)
  Color 3: rgba(164,74,63)
  Color 4: rgba(76,5,20)
  Color 5: rgba(58,14,3)
*/
header {
  background-color: #220802;
  text-align: center;
  padding: 10px 0 4px;
  position: fixed;
  border-bottom: 2px solid #F19C79;
  width: 100%;
  display: inline-block;
}

main {
  padding-top: 90px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  color: rgba(241,156,121);
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

/* our hamburger menu */
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav>ul>li>a:hover {
  color: rgba(241,156,121);
  text-decoration: underline;
}

nav>ul>li>a:focus {
  color: rgba(241,156,121);
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: rgba(76, 5, 20)
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.35em;
  font-weight: 300;
}

#logo {
  max-width: 100px;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #F19C79;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #A44A3F;
  text-decoration: underline;
}

a:active {
  color: rgba(76, 5, 20)
}

.button {
  display: inline-block;
  background-color: #A44A3F;
  color: #ffffff;
  font-weight: 400;
  padding: 14px;
  border-radius: 6px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: .8;
  text-decoration: none;
  color: #ffffff;
}

.button:active {
  opacity: .8;
  text-decoration: none;
}

.button.contact {
  background-color: rgba(58, 14, 3);
  color: #FEE3E0;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  padding: 10px;
  border: .33px solid #FEE3E0;
  transition-duration: .2s;
  transition-property: color;
}

.button.contact:hover {
  background-color: rgba(251, 186, 178);
  color: rgba(58, 14, 3);
  transition: 0.2s;
}

/* Layout styling */
.container {
  padding: 0 15px
}

.row {
  margin: 25px 0;
  border-bottom: 4px
}

#work .row {
  padding-bottom: 8px;
}

#work h2 {
  text-align: center;
  font-size: 2.5em;
  padding-top: 15px;
  padding-bottom: 10px;
}

/* ---------------------------- INDEX / HOMEPAGE ---------------------------- */
/* -------------------------------------------------------------------------- */
#hero {
  background-color: #A44A3F;
  display: inline-block;
  width: 100%;
  padding: 50px 30px 0px 25px;
}

#hero span {
  display: block;
  margin: auto;
}

#hero_illustration {
  width: 100%;
  height: auto;
  display: block;
  padding-left: 0px;
  margin-left: 0px;

}

.illustration {
  display: block;
}




.box-mf {
  padding: 40px 16px 32px 16px;
  background-color: #212121;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: 4px 1px 16px 0px #000000;
  -moz-box-shadow: 4px 1px 16px 0px #000000;
  box-shadow: 4px 1px 16px 0px #000000;
  border-radius: 20px;
}

#contact h2 {
  text-align: center;
  font-family: 'Quicksand', sans-serif
}

#contact svg {
  width: auto;
  height: 25px;
}

#copyright p {
  text-align: center;
}

footer {
  background-color: #220802;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border-top: 2px solid #F19C79;
}

.social>ul {
  list-style-type: none;
  padding: 0;
}

.social>ul>li {
  display: inline-block;
  padding: 20px 8px;
}


/* ---------------------------- ABOUT PAGE ---------------------------- */
/* -------------------------------------------------------------------------- */
#aboutimage {
  max-width: 300px
}

#aboutme {
  padding-top: 130px;
}

#aboutme h1 {
  text-align: center;
}

#aboutme h2 {
  text-align: center;
}

#skills h3 {
  text-align: center;
}

.row-about-resume {
  text-align: center;
}

#aboutimage {
  float: left;
  margin: 0 12px 12px 0;
  max-width: 300px;
  border-radius: 10px;
  border: 3px solid rgba(164, 74, 63);
}

/* ---------------------------- GRAY/PROJECT 4 ---------------------------- */
/* -------------------------------------------------------------------------- */
#gray {
  padding: 0 10px 10px 10px;
  background-color: #E6DDDE
}

#Gray_MainImage {
  height: 200px;
  width: auto;
}

.Gray_main {
  padding-top: 150px;

}

#Gray_UserFlow {
  height: 300px;
  width: auto;
}


#Gray_DesignProcess {
  height: 300px;
  width: auto;
}

.Gray_DesignProcess {
  padding: 0 100px 20px 100px;
}


.Gray_ideation h2 {
  color: #1E275C;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.Gray_ideation p {
  color: #1E275C;
}

#Gray_Crazy8v1 {
  height: 200px;
  width: auto;
}

#Gray_Crazy8v2 {
  height: 200px;
  width: auto;
}

.Gray_MidfiWireframes h2 {
  color: #1E275C;
  font-family: 'Quicksand', sans-serif;
}

.Gray_MidfiWireframes p {
  color: #1E275C;
}

.Gray_MidfiWireframes {
  margin: 10px 10px 40px 10px;
  padding-right: 10px
}

#Gray_homemidfi {
}

#Gray_addfriendsmidfi {
  margin-left: 100px;
}

#Gray_Profilemidfi {
  margin-right: 100px
}

#Gray_checklistmidfi {
  margin-left: 100px;
}

.onboarding {
  margin: 100px;
}

.Gray_social {
  margin: 100px;
}

.Conclusion h2 {
  color: #1E275C;
  font-family: 'Quicksand', sans-serif;
}

.Conclusion p {
  color: #1E275C;
}

.Conclusion {
  margin: 100px;
}

.Gray_Mockups {
  margin: 100px;
}

.Gray_Mockups h1 {
  text-align: center;
  color: #1E275C;
}
/* ---------------------------- SHADED/PROJECT 3 ---------------------------- */
/* -------------------------------------------------------------------------- */
#shaded {
  background-color: #8AC4AE;
  margin: 0px 20px 10px 20px;
  padding-top: 160px
}

/* ----------------------------VIBESY/PROJECT 1 ---------------------------- */
/* -------------------------------------------------------------------------- */
#vibesy {
  padding-top: 180px;
  margin: 0 40px 12px 40px;
  background-color: #B6BBEA
}


/* ----------------------------TRUFFLE/PROJECT 3 ---------------------------- */
/* -------------------------------------------------------------------------- */
#Truffle {
  padding-top: 140px;
  margin: 0 40px 12px 40px;
  background-color: #FFFFFF;
}

/* ---------------------------- COLUMN REFERENCE ----------------------------- */
/* --------------------------------------------------------------------------- */
[class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.reverseimg [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px
}

/* ---------------------------- CSS ANIMATION ----------------------------- */
/* --------------------------------------------------------------------------- */
.cloud-back {
  animation: 15s cloud-move-reverse infinite alternate linear;
}

.sun {
  animation-duration: 2s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}



#Smiley {
  animation: moveSmiley;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in;
}

@keyframes moveSmiley {
  to {
    transform: translateY(90px);
  }
}

@keyframes color-change {
  0% {
    fill: #E496A0;
  }

  50% {
    fill: #D16243;
  }

  100% {
    fill: #A44A3F;
  }
}

#screen {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate-reverse;
}

#Cloud {
  animation-duration: 5s;
  animation-name: Cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes Cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

/* --------------------------------------- MEDIA QUIERIES ---------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------------ */
/* ===============================================================================================
Medium devices (640px and larger)
================================================================================================== */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 25px;
  }

  nav>ul>li {
    display: inline-block;
    position: relative;
  }

  nav>ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
    float: left;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .skills_tools {
    padding-left: 220px;
  }

  #hero {
    background-color: #A44A3F;
    display: inline-block;
    width: 100%;
    padding: 10px 25px 0px 20px;
  }

  main {
    padding-top: 45px;
  }

  .illustration {
    display: block;
    margin: auto;
    width: 65%;
    height: auto;
    position: static;
    padding: 50px 50px 0px 25px;
    margin-right: 230px;
  }

  #hero_illustration {
    width: 106%;
    height: auto;
    display: block;
  }

  /* ---------------------------- GRAY/PROJECT 4 ---------------------------- */
  /* -------------------------------------------------------------------------- */
  #gray {
    background-color: #E6DDDE
  }

  #Gray_MainImage {
    height: 200px;
    width: auto;
  }

  .Gray_main {
    padding-top: 150px;
  }

  #Gray_UserFlow {
    height: 300px;
    width: auto;
  }


  #Gray_DesignProcess {
    height: 300px;
    width: auto;
  }

  .Gray_DesignProcess {
    padding: 0 100px 20px 100px;
  }


  .Gray_ideation h2 {
    color: #1E275C;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }

  .Gray_ideation p {
    color: #1E275C;
  }

  #Gray_Crazy8v1 {
    height: 200px;
    width: auto;
  }

  #Gray_Crazy8v2 {
    height: 200px;
    width: auto;
  }

  .Gray_MidfiWireframes h2 {
    color: #1E275C;
    font-family: 'Quicksand', sans-serif;
  }

  .Gray_MidfiWireframes p {
    color: #1E275C;
  }

  #Gray_homemidfi {
    margin-right: 120px;
  }

  #Gray_addfriendsmidfi {
    margin-left: 150px;
  }

  #Gray_checklistmidfi {
    margin-left: 150px;
  }

#Gray_onboarding {
  padding: 10px
}

  .Conclusion h2 {
    color: #1E275C;
    font-family: 'Quicksand', sans-serif;
  }

  .Conclusion p {
    color: #1E275C;
  }

  .Gray_Mockups {
    margin: 100px;
  }

  .Gray_Mockups h1 {
    text-align: center;
    color: #1E275C;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  #shaded {
    background-color: #8AC4AE;
    margin: 0px 100px 100px 100px;
    padding-top: 180px;
    padding-left: 50px;
    padding-right: 50px;
  }

  #Shaded_process {
    width: 70%;
    height: auto;
  }

  #vibesy {
    padding-top: 150px;
    margin: 0 130px 50px 130px;
    background-color: #B6BBEA;
  }

#Truffle {
  padding-top: 150px;
  margin: 0 130px 50px 130px;
  background-color: #FFFFFF;
}
}

/* ==============================================================================================
  Large devices (1024px or larger)
  ================================================================================================== */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  /* ------------ NAV BAR ANIMATION ------------ */
  li.borderXwidth {
    position: relative;
  }

  li.borderXwidth a:before,
  li.borderXwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #F19C79;
    transition: all 0.3s;
  }

  li.borderXwidth a:before {
    left: 0px;
    top: 0px;
  }

  li.borderXwidth a:after {
    right: 0px;
    bottom: 0px;
  }

  li.borderXwidth a:hover:before,
  li.borderXwidth a:hover:after {
    opacity: 1;
    width: 100%;
  }
}
