* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  /*sets font size to size 16*/
  font-weight: 300;
  line-height: 1.6;
  color: #FEE3E0;
}

/*Colors Used
  Color 1: rgba(251,186,178)
  Color 2: rgba(241.156,121)
  Color 3: rgba(164,74,63)
  Color 4: rgba(76,5,20)
  Color 5: rgba(58,14,3)
*/
header {
  background-color: #220802;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  border-bottom: 2px solid #F19C79;
  width: 100%;
  display: inline-block;
}

main {
  padding-top: 133px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  color: rgba(241.156, 121);
}

nav>ul>li>a:hover {
  color: rgba(241.156, 121);
  text-decoration: underline;
}

nav>ul>li>a:focus {
  color: rgba(241.156, 121);
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: rgba(76, 5, 20)
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.35em;
  font-weight: 300;
}

#logo {
  max-width: 130px;
}


img {
  width: 100%;
  height: auto;
}


a {
  color: #F19C79;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #A44A3F;
  text-decoration: underline;
}

a:active {
  color: rgba(76, 5, 20)
}

.button {
  display: inline-block;
  background-color: #A44A3F;
  color: #ffffff;
  font-weight: 400;
  padding: 14px;
  border-radius: 6px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: .8;
  text-decoration: none;
  color: #ffffff;
}

.button:active {
  opacity: .8;
  text-decoration: none;
}

.button.contact {
  background-color: rgba(58, 14, 3);
  color: #FEE3E0;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  padding: 10px;
  border: .33px solid #FEE3E0;
  transition-duration: .2s;
  transition-property: color;
}

.button.contact:hover {
  background-color: rgba(251, 186, 178);
  color: rgba(58, 14, 3);
  transition: 0.2s;
}

/* Layout styling */
.container {
  padding: 0 15px
}

.row {
  margin: 25px 0;
  border-bottom: 4px
}

#work .row {
  padding-bottom: 8px;
}

#work h2 {
  text-align: center;
  font-size: 2.5em;
  padding-top: 15px;
  padding-bottom: 10px;
}

/* ---------------------------- INDEX / HOMEPAGE ---------------------------- */
/* -------------------------------------------------------------------------- */
#hero {
  background-color: #A44A3F;
  display: inline-block;
  width: 100%;
  padding: 60px 0px 60px 16px;
}

#hero h1 {
  text-align: left;
  color: #000000
}

#hero p {
  text-align: left;
  color: #ffffff;
  font-size: 1.5em;
}

#hero span {
  display: block;
}

.hero.row {

}

#contact h2 {
  text-align: center;
  font-family: 'Quicksand', sans-serif
}

#contact svg {
  width: auto;
  height: 45px;
}

#copyright p {
  text-align: center;
}

footer {
  background-color: #220802;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border-top: 2px solid #F19C79;
}

.social>ul {
  list-style-type: none;
  padding: 0;
}

.social>ul>li {
  display: inline-block;
  padding: 20px 8px;
}



#Project4_Gray {
  padding-top: 180px;
  max-width: 900px;

}

#Project4_Gray h1 {
  text-align: center;
}

#Project4_Gray h2 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

#casestudy4 {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100px;
  height: auto;
}



#aboutimage {
  max-width: 300px
}

#aboutme {
  padding-top:180px;
}

#aboutme h1 {
  text-align: center;
}

#aboutme h2 {
  text-align: center;
}

#skills h3 {
  text-align: center;
}

.row-about-resume {
  text-align: center;
}


[class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.reverseimg [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


/*=================================
Medium devices (640px and higher)
==================================*/
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 25px;
  }

  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-7 {
    width: 58.33%;
  }
}

  #aboutimage {
    float: left;
    margin: 0 12px 12px 0;
    max-width: 300px;
    border-radius: 10px;
    border: 3px solid rgba(164,74,63);
  }


/* ==============================
Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {
    .col-lg-7 {
      width: 58.33%;
    }

    .col-lg-5 {
      width: 41.66%;
    }

li.borderXwidth {
  position: relative;
}

    li.borderXwidth a:before,
    li.borderXwidth a:after {
        position: absolute;
        opacity: 0;
        width: 0%;
        height: 2px;
        content: '';
        background: #F19C79;
        transition: all 0.3s;
    }

    li.borderXwidth a:before {
        left: 0px;
        top: 0px;
    }

  li.borderXwidth a:after {
        right: 0px;
        bottom: 0px;
    }

    li.borderXwidth a:hover:before,
    li.borderXwidth a:hover:after {
        opacity: 1;
        width: 100%;
    }
}


  /* ==============================
X-large devices (1440px or larger)
================================= */
  @media only screen and (min-width: 1440px) {}



portaitmockup{
  width: 30;
  max-width: 1200px;
  height: auto;
}


#Cloud {
  animation-duration: 5s;
  animation-name: Cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes Cloud-move{
  from {transform: translate(0,50px);}
  to {transform: translate(200px, 50px);}
}


/* ------------ CSS ANIMATION ------------ */

  .illustration {
    width: 100%;
    height:auto;
    position: relative;
    margin-left: 300px;
    margin-top: 100px;
    margin-left: auto;
  }



  #Smiley {
    animation: moveSmiley;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;

  }

  @keyframes moveSmiley {
    to {
      transform: translateY(80px);
    }
    }



  @keyframes color-change {
    0% {fill: #E496A0;}
    50% {fill: #D16243;}
    100% {fill: #A44A3F;}
  }

#screen {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: ease;
}
